.App {
  text-align: center;
  overflow: scroll;
}

.App-header {
  background-color: transparent;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.summary {
  padding-bottom: 30px;
}

.workEthic{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.teamWork{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.loyalty{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}


